<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>catalog</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
    <h2>catalog</h2>
    <p></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>cost</th>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${catalog}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.title}"></td>
            <td th:text="${p.cost}"></td>
            <td>
                <a th:href="@{'/product/' + ${p.id}}" class="btn btn-link">about</a>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:text="${'total products: ' + catalog.size()}"/>
    <p></p>
    <div class="btn-group" role="group" aria-label="btn_footer">
        <a th:href="@{'/'}" class="btn btn-outline-primary">market main page</a>
        <a th:href="@{'/create'}" class="btn btn-outline-primary">add product to catalog</a>
    </div>
</div>
</body>
</html>